mat-toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background: none;
}

mat-toolbar button:not(.home-button) {
    // border-bottom: 0.15em solid rgb(238, 255, 0);
    color: rgb(255, 125, 205);
}

mat-toolbar button.active:not(.home-button) {
    color: rgb(255, 0, 157);
    border-bottom: 0.15em solid red;
}

mat-toolbar .home-button {
    color: rgb(255, 0, 157);
    font-size: 1em;
}